<!-- <div class="parallax-container">
    <div class="parallax"><img src="cinema.jpg" ></div>
  </div>
    <div class="row container">
      <h2 class="header">Parallax</h2>
    </div>
   -->
<header class="main font">
	<nav class="red lighten-1">
		<ul>
			<li>
				<a ui-sref="app.about">About</a>
			</li>
			<li>
				<a ui-sref="app.movies">Movies</a>
			</li>
			<li>
			<a ui-sref="app.movie.add" ui-sref-opts="{reload: true}">Add new movie</a>
			</li>
		</ul>
	</nav>
</header>
<br>
	<div class="container">
		<ui-view></ui-view>
	</div>
	<br>
	<!-- footer -->
<footer class="page-footer red lighten-1 font">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h6 class="white-text">Irina Căpățînă</h6>
              </div>
              <div class="col l4 offset-l2 s12">
                  <a class="grey-text text-lighten-3">© 2017 Copyright</a>
              </div>
            </div>
          </div>
</footer>
