.main {
		padding-top: 10px;
		/*padding-right: 50px;*/
		/*padding-bottom: 50px;*/
		/* padding-left: 50px;*/
		flex: 1 0 auto;
}

.footer {
		text-align: center;
		display: flex;
		flex-direction: column;
		flex: 1 0 auto;
}

#left-txt {
		float: left;
}

.right-txt {
		float: right;
}

footer {
		background-color: #ef5350 !important
}

.font {
		font-family: 'Montserrat', sans-serif;
}

.price {
		color: #ffa726;
		/*text-align: center;*/
}

.button {
		background-color: #000000;
}

.block {
		display: inline-block;
		margin: 80px;
}

.description {
		text-align: center;
}

.pagination {
		color: #5F021F !important;
}

.waves-ripple {
		background-color: #5F021F;
}

.cursor {
		cursor: pointer;
}

html {
		font-family: 'Muli', sans-serif;
		position: relative;
		min-height: 100%;
		margin: 0px;
		padding: 0px;
}

.justify {
		text-align: justify;
		text-justify: inter-word;
}

.highlighted {
		background: #FFFFB2;
}

.addMovie {
		color: black;
}

.container {
		width: 100%;
		padding: 0px;
}

.Site {
		display: flex;
		min-height: 100vh;
		flex-direction: column;
}

.Site-content {
		flex: 1;
}

body {
		display: flex;
		min-height: 100vh;
		flex-direction: column;
		margin: 0 0 100px;
		/* bottom = footer height */
}

.input {
		color: #bdbdbd !important;
}


/* label underline focus color */

.input {
		border-bottom: 1px solid #bdbdbd !important;
		box-shadow: 0 1px 0 0 #bdbdbd !important
}

footer {
		position: absolute;
		left: 0;
		bottom: 0;
		height: 100px;
		width: 100%;
}
.parallax-container {
      height: "your height here";

    }