
<p>Title:  {{ movie.movies.title }} </p>
<p>Genre: {{ movie.movies.genre }} </p>
<p>Rating: {{ movie.movies.rating }} </p>
<p>Release date: {{movie.movies.release }} </p>
<p>Storyline: {{ movie.movies.storyline }} </p>
