<form class="font ">
	<label class="addMovie">
		Title:
		<input class="input" placeholder="Enter title" type="text" ng-model="movie.movie.title">
	</label>
	<label class="addMovie">
		Rating:
		<input class="input" placeholder="Enter rating" type="text" ng-model="movie.movie.rating">
	</label>
	<label class="addMovie"> Genre:
		<input class="input" placeholder="Enter genre" type="text" ng-model="movie.movie.genre">
	</label>
	<label class="addMovie datepicker"> Release Date:
		<input class="input" type="text" ng-model="movie.movie.release">
	</label>
	<label class="addMovie"> Storyline:
		<!-- <input placeholder="Enter storyline" type="text" ng-model="movie.movie.storyline"> -->
		<textarea id="textarea1" placeholder="Enter storyline" class="materialize-textarea input" length="120px" ng-model="movie.movie.storyline"></textarea>
	</label>
	<a class="waves-effect waves-light green btn" ng-click="movie.validOnChanges()">Save</a>
</form>
