<div class="row ">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6 ">
                <i class="material-icons prefix">search</i>
                <input id="icon_prefix" type="text" class="validate input" ng-model="movies.searchTitle">
                <label for="icon_prefix">Input filter text here</label>
            </div>
            <!-- find any letter/word -->
            <div class="row">
                <form class="col s12 ">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">search</i>
                            <input id="icon_prefix" type="text" class="validate input" ng-model="searchText">
                            <label for="icon_prefix">Search</label>
                        </div>
                    </div>
                </form>
            </div>
    </form>
    </div>
</div>
<table class="highlight font">
    <thead>
        <tr>
            <th ng-click="sortType = 'title'; sortReverse != sortReverse" class="cursor" width="200px">Title</th>
            <th ng-click="sortType = 'rating'; sortReverse != sortReverse" class="cursor" width="100px">Genre</th>
            <th width="100px">Rating</th>
            <th width="150px">Release date</th>
            <th width="750px">Storyline</th>
        </tr>
    </thead>
    <tbody ng-repeat="movie in movies.movies  | filter: movies.searchTitle | StartFrom: movies.startingItem() | limitTo: movies.itemsPerPage | orderBy: sortType: movies.sortReverse | filter: movies.searchItem | filter:movies.searchText">
        <tr>
            <td ng-bind-html="movie.title | FindTxt:searchText">{{ movie.title }}</td>
            <td ng-bind-html="movie.genre | RatingFilter |  FindTxt:searchText">{{ movie.genre }}</td>
            <td ng-bind-html="movie.rating | FindTxt:searchText">{{ movie.rating }}</td>
            <td>{{ movie.release }}</td>
            <td ng-bind-html="movie.storyline | FindTxt:searchText" class="justify">{{ movie.storyline }}</td>
            <td><span class="cursor" ng-click="movies.editMovie(movie.id)"><i class="material-icons">mode_edit</i></span></td>
            <td><span class="cursor" ng-click="movies.deleteMovie(movie.id)"><i class="material-icons">delete</i></span></td>
        </tr>
    </tbody>
</table>
<!-- pagination -->
<br>
<div class="right-align">
    <button class="pull-left btn btn-primary btn-sm waves-effect waves-light green btn" ng-disabled="main.mainPage()" ng-click="main.pageBack()"> Previous </button>
    <span>{{ main.currentPage }} from {{ main.nrOfPages() }}</span>
    <button class="pull-right btn btn-primary btn-sm waves-effect waves-light green btn" ng-disabled="main.lastPage()" ng-click="main.pageForward()"> Next </button>
</div>
<!-- pagination  v2-->
<!-- <ul class="pagination right-align">
    <li>
        <i class="material-icons pagination cursor" ng-disabled="main.mainPage() == 0" ng-click="main.pageBack()">chevron_left</i>
    </li>
    <span>{{ main.currentPage + 1 }} from {{ main.nrOfPages() }}</span>
    <li class="waves-effect">
        <i class="material-icons pagination" ng-disabled="main.lastPage()" ng-click="main.pageForward()">chevron_right</i>
    </li>
</ul> -->
</div>
